.background {
    background-image: url(./jack-dong-PgQ3iHH3bLs-unsplash.jpg);
    background-size: cover;
    color: white;
    border: 2px solid black;
    text-align: center;
    height: 300px;
    margin: auto;
}